{% extends 'app_audiovisual/base.html' %}

{% block content %}
<h2>Lista de Materiales de Rodaje</h2>
<a href="{% url 'material_create' %}" class="btn">Agregar Registro</a>

<table>
    <thead>
        <tr>
            <th>Escena</th>
            <th>Nombre del Material</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for material in object_list %}
        <tr>
            <td>{{ material.escena }}</td>
            <td>{{ material.nombre_material }}</td>
            <td>{{ material.descripcion }}</td>
            <td>{{ material.cantidad }}</td>
            <td>
                <a href="{% url 'material_update' material.pk %}" class="btn btn-edit">Editar</a>
                <a href="{% url 'material_delete' material.pk %}" class="btn btn-delete">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
